.btnSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #151C29;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    width: 48px;
    height: 48px;
    box-shadow: rgba(0, 0, 0, 0.15) .4px .4px .2px;
    transition: all .2s;
}

.btnSocial:hover {
    position: relative;
    transform: translate3d(0px, -3px, 5px);
}

.btnSocialWhite {
    background: #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.15) .2px .2px .2px;
}

/* --- Responsive header --- */

/* Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575.98px) {
    .btnSocial {
        width: 44px;
        height: 44px;
    }

}

/* Small devices (tablet, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .btnSocial {
        width: 48px;
        height: 48px;
    }
}

/* Small devices (tablet modo paisagem) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .btnSocial {
        width: 52px;
        height: 52px;
    }
}
/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .btnSocial {
        width: 44px;
        height: 44px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .btnSocial {
        width: 46px;
        height: 46px;
    }

}

