
.textFormation h3 {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-secondary);
    margin-bottom: 20px;
}

.textFormation p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--text);
}

@media screen and (max-width: 575.98px) {
    .textFormation h3 {
        font-size: 1rem;
    }

    .textFormation p {
        font-size: .8rem;
    } 
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .textFormation h3 {
        font-size: 1.2rem;
    }

    .textFormation p {
        font-size: .9rem;
    } 
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .textFormation h3 {
        font-size: 1.4rem;
    }

    .textFormation p {
        font-size: 1rem;
    }
}


@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .textFormation h3 {
        font-size: 1.3rem;
    }

    .textFormation p {
        font-size: .95rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px)  {
    .textFormation h3 {
        font-size: 1.4rem;
    }

    .textFormation p {
        font-size: .975rem;
    }
}