.cont_about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1270px;
    height: 350px;
    transform: translate3d(0px, -30px, 0px);
    opacity: 0;
    transition: all ease .7s;
}

.myFoto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100%;   
}


.myFoto  img {
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
    width: 228px;
    height: 278px;
}

.borderPhoto {
    position: relative;
}

.borderPhoto::after {
    content: '';
    width: 228px;
    height: 277px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: -15px;
    border: 2px solid var(--green);
    z-index: -1;
    transition: all ease .2s;
}

.borderPhoto:hover::after{
    top: -1px;
    left: -2px;
}


.aboutItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
    height: 80%;
   
}

.aboutButtons {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 50px;
    position: relative;
}

.aboutButtons::before {
    content: '';
    width: 45%;
    height: 100%;
    background: #192640;
    position: absolute;
    border-radius: 4px;
    transition: all .3s;
    left: 0;
}



.aboutButtons.selected::before {
    width: 55%;
    left: 158px;
}


.aboutText {
    width: 100%;
    height: 180px;
    padding-right: 20px;
    margin-bottom: 1rem;
}

.curriculoButton {
    display: flex;
    width: 350px;
    height: 20px;
}



/* --- Responsive about --- */

/* Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575.98px) {
    .cont_about {
        width: 90%;
        height: 100%; 
        margin-bottom: 10px;
    }

    .aboutText {
        height: 80%;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .aboutItems {
        width: 100%;
        height: 220px;
        margin-bottom: 10px;
    }

    .textAbout, .titleExp  {
        width: 98%;
        font-size: .7rem;
    }

    .aboutButtons.selected::before {
        width: 45%;
        left: 175px;
       
    }

    .aboutButtons::before  {
        width: 45%;
        height: 40px;
    }

    .aboutButtons {
        height: 40px;
        margin-bottom: 2px;
    }
    

    .myFoto {
        display: none;
    }


    .curriculoButton {
        position: absolute;
        bottom: -60px;
        left: 0;
        width: 100%;
        
    }

    .iconDownload {
        margin-right: 10px;
    }

}

/* Small devices (tablet, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .cont_about {
        width: 90%;
        height: 100%; 
        margin-bottom: 40px;
    }


    .aboutText {
        height: 80%;
        padding: 10px 0;
    }

    .aboutItems {
        width: 90%;
        margin-left: 20px;
        height: 202px;
    }

    .textAbout, .titleExp  {
        width: 98%;
        font-size: .72rem;
    }

    .aboutButtons.selected::before {
        width: 45%;
        left: 175px;
       
    }

    .aboutButtons::before  {
        width: 45%;
        height: 40px;
    }

    .aboutButtons {
        height: 40px;
    }
    

    .myFoto {
        width: 200px;
        height: 100%;
       
    }
    
    .myFoto  img {
        width: 160px;
        height: 200px;
    }

    .curriculoButton {
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        
    }

    .borderPhoto::after {
        width: 160px;
        height: 200px;
        top: 5px;
        left: -10px;
       
    }
    
    .borderPhoto:hover::after{
        top: -2px;
        left: -2px;
    }

    .iconDownload {
        margin-right: 10px;
    }


  
}

/* Small devices (tablet modo paisagem) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .cont_about {
        width: 90%;
        height: 100%;
        justify-content: space-around;
        margin-bottom: 40px;
        
    }

    .aboutText {
        height: 100%;
        margin: 20px 0;
    }

    .aboutItems {
        width: 90%;
        margin-left: 20px;
        height: 250px;
    }

    .textAbout, .titleExp  {
        width: 98%;
        font-size: .83rem;
    }

    .aboutButtons.selected::before {
        width: 45%;
        left: 175px;
    }

    .aboutButtons::before  {
        width: 45%;
    }
    

    .myFoto {
        width: 300px;
        height: 100%;
       
    }
    
    .myFoto  img {
        width: 200px;
        height: 250px;
    }

    .curriculoButton {
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        
    }

    .borderPhoto::after {
        width: 200px;
        height: 250px;
        top: 5px;
        left: -10px;
    }
    
    .borderPhoto:hover::after{
        top: -2px;
        left: -2px;
    }

    .iconDownload {
        margin-right: 10px;
    }

}


/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .cont_about {
        width: 90%;
        height: 100%;
        justify-content: space-between;
    }

    .aboutText {
        height: 100px;
        margin: 10px 0;
    }

    .aboutItems {
        height: 250px;
        margin-left: 20px;
    }

    .textAbout, .titleExp  {
        width: 98%;
        font-size: .83rem;
    }

    .aboutButtons.selected::before {
        width: 45%;
        left: 175px;
    }

    .aboutButtons::before  {
        width: 45%;
    }
    

    .myFoto {
        width: 300px;
        height: 100%;
       
    }
    
    .myFoto  img {
        width: 200px;
        height: 250px;
    }

    .borderPhoto::after {
        width: 200px;
        height: 250px;
        top: 10px;
        left: -15px;
       
    }
    
    .borderPhoto:hover::after{
        top: -2px;
        left: -2px;
    }



  

   
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .cont_about {
        width: 90%;
        height: 100%;
    }

    .aboutText {
        margin-top: 10px;
    }

    .textAbout, .titleExp  {
        font-size: 1rem;
    }

    .aboutItems {
        height: 260px;
    }

    .aboutButtons.selected::before {
        width: 50%;
        left: 165px;
    }

    .aboutButtons::before  {
        width: 45%;
    }
    

    .myFoto {
        width: 300px;
        height: 100%;
       
    }
    
    .myFoto  img {
        width: 208px;
        height: 258px;
    }

    .borderPhoto::after {
        width: 208px;
        height: 257px;
        top: 10px;
        left: -15px;
       
    }
    
    .borderPhoto:hover::after{
        top: -1px;
        left: -2px;
    }
    
   

    
    
  
  

}
