.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(../../img/backgroundCurves.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 80%;
}


.introdution {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1270px;
    height: 100vh;
    color: #fff;
}



/* intro text */
.introText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 60%;
    padding-left: 50px;
}

.introText h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-secondary);
}


.introText h3 span img{
    animation: handAnime .8s ease-in forwards infinite alternate;
}

.introText h2 {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--green);
    margin: 8px 0;
}

.introText h2::after {
    content: "|";
    font-weight: 500;
    font-size: 2.3rem;
    margin-left: 5px;
    animation: textAnime .9s infinite;
}

@keyframes textAnime {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.devBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 40px;
    background: var(--green);
    border-radius: 4px;
    color: var(--bg-color);
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

.iconSocial {
    font-size: 1.8rem;
    color: var(--green);
}

.btnBox {
    display: flex;
}


/*intro img */
.introImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60%;
    
}

.introImg img {
    width: 450px;
    position: relative;
    margin-bottom: 100px;
    animation: imageAnime 4s ease-in forwards infinite alternate;
}

@keyframes imageAnime {
    0% {
        transform: translate3d(0px, 30px, 0px);
    }


    100% {
        transform: translate3d(0px, 0px, 0px);
    }
    
}

@keyframes handAnime {
    0% {
        transform: rotate(20deg);
    }


    100% {
        transform: rotate(0deg);
    }
}



/* --- Responsive header --- */

/* Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575.98px) {
    .introdution {
        flex-direction: column;
        position: relative;
        height: 80vh;
        max-width: 90%;
        top: 100px;
    }

    .introImg img {
        width: 250px;
    }

    .introText h3 {
        font-size: 1rem;
    }

    .introText h2 {
        font-size: 2rem;
    }

    .devBox {
        width: 240px;
        height: 30px;
        font-size: .8rem;
    }

    .iconSocial {
        font-size: 1.4rem;
    }

    .header {
        background-size: 100% 65%;
    }

    .introText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60%;
        padding: 0;
    }

    .introText h2::after {
        font-size: 1.8rem;
    }

}

/* Small devices (tablet, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .introdution {
        flex-direction: column;
        position: relative;
        height: 80vh;
        max-width: 90%;
        top: 100px;
    }

    .introImg img {
        width: 350px;
    }

    .introText h3 {
        font-size: 1.4rem;
    }

    .introText h2 {
        font-size: 2.6rem;
    }

    .devBox {
        width: 260px;
        height: 38px;
        font-size: .9rem;
    }

    .iconSocial {
        font-size: 1.6rem;
    }

    .header {
        background-size: 100% 65%;
    }

    .introText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60%;
        padding: 0;
    }

    .introText h2::after {
        font-size: 2rem;
    }
}

/* Small devices (tablet modo paisagem) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .introdution {
        flex-direction: column;
        position: relative;
        height: 80vh;
        max-width: 90%;
        top: 120px;
    }

    .introImg img {
        width: 400px;
    }

    .introText h3 {
        font-size: 1.6rem;
    }

    .introText h2 {
        font-size: 3rem;
    }

    .devBox {
        width: 280px;
        height: 42px;
        font-size: 1rem;
    }

    .iconSocial {
        font-size: 2rem;
    }

    .header {
        background-size: 100% 65%;
    }

    .introText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60%;
        padding: 0;
    }
}
/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .introdution {
        max-width: 90%;
    }

    .introImg img {
        width: 350px;
    }

    .introText h3 {
        font-size: 1.1rem;
    }

    .introText h2 {
        font-size: 2.5rem;
    }

    .devBox {
        width: 260px;
        height: 35px;
        font-size: .9rem;
    }

    .iconSocial {
        font-size: 1.5rem;
    }

    .header {
        background-size: 100% 75%;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .introdution {
        max-width: 90%;
    }

    .introImg img {
        width: 450px;
    }

    .introText h3 {
        font-size: 1.2rem;
    }

    .introText h2 {
        font-size: 2.8rem;
    }

    .devBox {
        width: 280px;
        height: 38px;
        font-size: 1rem;
    }

    .iconSocial {
        font-size: 1.6rem;
    }

    .header {
        background-size: 100% 75%;
    }

}

