.containerNav {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 80px;
    transition: all .2s;
}

.containerNav.fixed {
    position: fixed;
    z-index: 999;
    background: var(--bg-blue);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.containerNav.fixedWhite {
    background: #f9f9f9;
    
}

.cont_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    width: 1270px;
    height: 60px;
    position: absolute;  
}

.cont_nav .logo {
    font-weight: 400;
    color: var(--green);
    font-size: 1.8rem;
    text-decoration: none;
    letter-spacing: 1px; 
}



.navbar, .navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul li a{
    display: flex;
    align-items: center;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 1.05rem;
    color: #fff;
    line-height: 30px;
    font-weight: 500;
    position: relative;
    
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    background-color: var(--green);
    border-radius: 10px;
    width: 0%;
    height: 2px;
    left: 50%;
    right: 50%;
    bottom: -5px;
    transition: 0.3s;
}

.navbar ul li a:hover::after {
    width: 100%;
    right: 0%;
    left: 0%;
}

.iconList {
    display: none;
    font-size: 1.8rem;
    margin-right: 10px;
    color: var(--green);
    
}

.btnMenuMobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 30px;
    cursor: pointer;
    border: none;  
}


.btnLine {
    display: none;
    width: 32px;
    height: 2px;
    background-color: #fff;
    transition: .4s;
}


.btnTheme {
    display: flex;
    align-items: center;
    border: 2px solid var(--green);
    background: var(--green);
    width: 50px;
    height: 20px;
    border-radius: 40px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}

/* dark mode */
.btnTheme::before{
    display: flex;
    align-items: center;
    justify-content: center;
    content: "ON";
    font-size: .6rem;
    font-weight: 1000;
    position: absolute;
    width: 50%;
    height: 90%;
    border-radius: 50%;
    transition: .4s;
    left: 2px;
}


.btnTheme::after{
    content: "";
    position: absolute;
    background: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: .4s;
    margin-left: 28px;
}


/*White mode */

.btnTheme.off {
    border: 2px solid var(--bg-color);
    background-color: var(--bg-color);
}

.btnTheme.off::before{
    content: "OFF";
    position: absolute;
    color: #fff;
    width: 50%;
    height: 90%;
    border-radius: 50%;
    transition: .4s;
    left: 20px;
}


.btnTheme.off::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: .4s;
    margin-left: 0px;
}


/* White mode */

.cont_nav .logoBlue { 
    color: var(--blue);
    font-weight: 500;
}

.navbarWhite ul li a {
    color: var(--text-blue);
    font-weight: 600;
}

.navbarWhite ul li a::after {
    background: var(--blue);
}



/* --- Responsive navbar --- */

/* Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575.98px) {
    .cont_nav {
        max-width: 90%;
    }

    .cont_nav .logo {
        font-size: 1.5rem;
    }

    .navbar {
        position: fixed;
        top: 80px;
        right: -100%;
        width: 100%;
        height: 92vh;
        background-color: var(--bg-color);
        z-index: 99;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: all ease-in .4s;  
    }

    .navbar.active {
        right: 0%;
    }

    .navbar, .navbar ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .navbar ul {
        height: 70%;
    }


    
    .navbar ul li a{
        font-size: 1.4rem;   
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
  

    .btnMenuMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40px;
        height: 30px;
        cursor: pointer;
        background: transparent;
       
    }
    
    .btnLine {
        display: block;
        width: 32px;
        height: 2px;
        background-color: var(--green);
    }

    .btnMenuMobile.open .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .btnMenuMobile.open .line2 {
        opacity: 0;
    }

    .btnMenuMobile.open .line3 {
        transform: rotate(45deg) translate(-6px, -6px);
    }

    .menuListOpen {
        background: var(--bg-blue);
    }

    .btnTheme {
        margin: 0px;
        width: 60px;
    }

    .btnTheme::after {
        margin-left: 38px;
    }

   
    .btnTheme.off::before {
        left: 30px;
    }
   

}

/* Small devices (tablet, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .cont_nav {
        max-width: 90%;
    }

    .cont_nav .logo {
        font-size: 1.8rem;
    }

    .navbar {
        position: fixed;
        top: 80px;
        right: -100%;
        width: 50vw;
        height: 92vh;
        background-color: var(--bg-color);
        z-index: 99;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: all ease-in .4s;  
    }

    .navbar.active {
        right: 0%;
    }

    .navbar, .navbar ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .navbar ul {
        height: 80%;
    }

    
    .navbar ul li a{
        font-size: 1.4rem;   
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
  

    .btnMenuMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40px;
        height: 30px;
        cursor: pointer;
        background: transparent;
       
    }
    
    .btnLine {
        display: block;
        width: 32px;
        height: 2px;
        background-color: var(--green);
    }

    .btnMenuMobile.open .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .btnMenuMobile.open .line2 {
        opacity: 0;
    }

    .btnMenuMobile.open .line3 {
        transform: rotate(45deg) translate(-6px, -6px);
    }

    .menuListOpen {
        background: var(--bg-blue);
    }

    .btnTheme {
        margin: 0px;
        width: 80px;
    }

    .btnTheme::after {
        margin-left: 58px;
    }

   
    .btnTheme.off::before {
        left: 30px;
    }
   
   
}

/* Small devices (tablet modo paisagem) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .cont_nav {
        max-width: 90%;
    }

    .navbar {
        position: fixed;
        top: 80px;
        right: -100%;
        width: 50vw;
        height: 92vh;
        background-color: var(--bg-color);
        z-index: 99;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: all ease-in .4s;  
    }

    .navbar.active {
        right: 0%;
    }

    .navbar, .navbar ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .navbar ul {
        height: 80%;
    }

    
    .navbar ul li a{
        font-size: 1.4rem;   
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
  

    .btnMenuMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40px;
        height: 30px;
        cursor: pointer;
        background: transparent;
       
    }
    
    .btnLine {
        display: block;
        width: 32px;
        height: 2px;
        background-color: var(--green);
    }

    .btnMenuMobile.open .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .btnMenuMobile.open .line2 {
        opacity: 0;
    }

    .btnMenuMobile.open .line3 {
        transform: rotate(45deg) translate(-6px, -6px);
    }

    .menuListOpen {
        background: var(--bg-blue);
    }

  
    .btnTheme {
        margin: 0px;
        width: 80px;
    }

    .btnTheme::after {
        margin-left: 58px;
    }

   
    .btnTheme.off::before {
        left: 30px;
    }

   
    
}


/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .cont_nav {
        max-width: 90%;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .cont_nav {
        max-width: 90%;
    }

}


