.textAbout {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 1rem;
}

.titleExp {
    margin-bottom: .5rem;
    color: var(--green);
}