@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

:root{
  --bg-color: #020814;
  --bg-blue: #041029;
  --green: #64FFDA;
  --text: #F2F2F2;
  --text-secondary: #CCD6F6;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background: var(--bg-color);
}